@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Asap:wght@300&family=Kanit:wght@400;500;600;700&display=swap");

///////Hamberger////////
.hamberger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  .burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: white;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }
}

////////////Nav////////////////////////

.navWraper {
  width: 100vw;
  height: 100px;
  position: fixed;
  z-index: 20;
  background: #252527;
  @media screen and (max-width: 420px) {
    height: 80px;
  }
  .navlinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
    @media screen and (max-width: 420px) {
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 0;
    }
    .logo {
      background: radial-gradient(#fff, rgb(204, 204, 204));
      border-radius: 50%;
      width: 70px;
      height: 70px;

      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 420px) {
        height: 60px;
        width: 60px;
        margin-top: 10px;
      }
      img {
        width: 83px;
        height: 73px;
        // background-color: rgb(204, 204, 204, 0.8);
        @media screen and (max-width: 420px) {
          width: 63px;
          height: 63px;
        }
      }
    }
    .middleLinks {
      width: 20%;
      display: flex;
      justify-content: space-between;
      font-family: "Abril Fatface";
      color: white;
      .home,
      .plan,
      .photo {
        cursor: pointer;
        @media screen and (max-width: 420px) {
          display: none;
        }
      }
      @media screen and (max-width: 1350px) {
        width: 40%;
      }
      @media screen and (max-width: 420px) {
        width: 10%;
      }
      .hambergerWrap {
        @media screen and (min-width: 421px) {
          display: none;
        }

        @media screen and (max-width: 420px) {
          display: fixed;
          padding-top: 10px;
          margin-left: 10px;
          z-index: 10;
        }
      }
    }
    .social {
      width: 5%;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 1000px) {
        width: 10%;
      }
      @media screen and (max-width: 420px) {
        display: none;
      }
      img {
        width: 30px;
      }
      .facebook {
        width: 23px;
      }
      .facebook,
      .igIcon {
        cursor: pointer;
      }
    }
  }
}
////Hamburger
.navModalWrap {
  position: absolute;
  top: 100px;
  right: 0;
  width: 40%;
  background: #cccccc; // white;
  height: 150px;
  z-index: 10;
  text-align: right;
  padding: 15px;
  border-radius: 15px;
  .hamburgerlinks {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .home,
    .plan,
    .photo {
      font-family: "Abril Fatface";
    }
  }
}

//////////////////////////////////////////////////////////////// REVIEW
.reviewWraper {
  width: 500px;
  height: 520px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   justify-content: center;
  @media screen and (max-width: 1000px) {
    width: 400px;
    height: 420px;
  }
  .upper {
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      @media screen and (max-width: 1000px) {
        width: 120px;
        height: 120px;
      }
    }
  }
  .reviewDetails {
    p {
      //   width: 90%;
      @media screen and (max-width: 1000px) {
        font-size: 14px;
      }
    }
    h3 {
      text-align: center;
      @media screen and (max-width: 1000px) {
        font-size: 16px;
      }
    }
  }
}

//////////////////////////////////////////////////////////////// Footer
.footerWrap {
  background-color: #252527;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  text-align: left;
  color: white;
  @media screen and (max-width: 1000px) {
    height: 350px;
  }
  @media screen and (max-width: 420px) {
    flex-direction: column;
  }
  .contact {
    width: 50%;
    display: flex;
    flex-direction: column;

    .contactsTitle {
      //   text-align: left;
      letter-spacing: 0.3em;
      font-family: "Abril Fatface";
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
    .content {
      display: flex;
      justify-content: space-around;
      @media screen and (max-width: 420px) {
        flex-direction: column;
      }

      .box3 {
        width: 265px;
        @media screen and (max-width: 1000px) {
          display: none;
        }
      }
    }
  }
  .map {
    img {
      width: 205px;
      height: 101px;
    }
  }
}

//////////////////// Price/////////////////
.pricePageWraper {
  width: 100vw;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  padding-top: 100px;
  background: #f2f2f2;
  text-align: center;
  @media screen and (max-width: 420px) {
    // padding-top: 200px;
  }
  .header {
    font-family: "Asap", sans-serif;
    font-weight: 800;
    font-size: 62px;
    width: 100%;
    padding: 20px;
    background: #97999c;
    @media screen and (max-width: 420px) {
      font-size: 42px;
    }
  }
  .boxWrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
    // margin-top: 20px;
    @media screen and (max-width: 420px) {
      padding: 5px;
    }
  }
  // #97999c
  .privateSessionHeader {
    width: 100%;
    background: #97999c;
    color: white;
    margin: 0;
    padding: 30px;
    text-align: center;
  }
  .boxWrap.PriveteSession {
    background: #97999c;
    .contentBox {
      color: white;
    }
  }

  .SemiPrivatex2Header {
    width: 100%;
    background: #2c2c2d;
    color: white;
    margin: 0;
    padding: 30px;
    text-align: center;
  }
  .boxWrap.SemiPrivatex2 {
    background: #2c2c2d;
    .contentBox {
      color: white;
    }
  }
  .contentBox {
    width: 267px;
    height: 339px;
    border: 1px solid white; // #9ba4b5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    @media screen and (max-width: 420px) {
      width: 180px;
      height: 220px;
      margin: 10px;
    }
    .upper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-family: "Asap", sans-serif;
      .classType {
        //   font-family: "Aksara Bali Galang";

        font-size: 22px;
        line-height: 43px;
      }
      .price {
        font-size: 50px;
        line-height: 108px;
        font-weight: 800;
        @media screen and (max-width: 420px) {
          line-height: 90px;
        }
      }
      .dummyText {
        text-align: center;
        margin: 15px;

        @media screen and (max-width: 420px) {
          margin: 0;
        }
        p {
          color: red;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
    .bookBtn {
      width: 161px;
      height: 42px;
      border: 1px solid #cd1818;
      border-radius: 19.5px;
      color: #cd1818;
      background-color: white;
    }
  }
}
